#logos{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    width: 100%;
   
}

#menu-box{

    width: 100%;
    background-color: #00274b;
    margin: 0;
    box-shadow: 0px 0px 10px 0px black;
}

#menu-icon{
    color: wheat;
}

#notifications{
    color: red;
    cursor: pointer;
}

#notification-count{
    font-size: 1.2rem;
    position: absolute;
    transform: translateX(-15px) translateY(-5px);
    background: white;
    border-radius: 400px;
    font-weight: bold;
    padding: 2px;
    box-shadow: 0px 0px 20px 0px rgb(232, 232, 232);
    cursor: pointer;
}

#menu-box{
    margin: 0;
    padding: 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;

}

#right-side-menu-box{
    margin-left: auto;
    
}

#right-side-menu-box h3{
    padding: 20px;
    margin: auto;
}

/* 
#menu-box a{
    padding: 10px;
    border: 1px solid green;
    margin-left: 10px;
    margin-right: 10px;
}

#right-side-menu-box{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#college-details{
    color: #ffffff;
    margin: 10px !important;
    font-weight: 100;
}

#user-profile{
    transition: .1s ease-in-out;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 20px;
    color: #ffffff;
}   

#user-profile:hover{


}