#sub-header-1, #sub-header-2{
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

#qnm-2-6-3{
    margin: 40px;

}

#formula{
    padding: 5px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    
}
